*{
  font-family: "Gill Sans Extrabold", sans-serif !important;
}

.h1 {
  font-size: 2rem;
  color: white;
}

.h2 {
  font-size: 1.5rem;
  color: white;
}

.h3 {
  font-size: 1.5rem;
  color: white;
}

.h4{
  font-size: 1.5rem;
  color: white;
}