*{
  font-family: "Gill Sans Extrabold", sans-serif !important;
}

h1 {
  font-size: 1rem;
  color: #00C;
}

h2 {
  font-size: 14px;
  color: rgb(77, 124, 219);
}

h3 {
  color: rgb(237, 165, 165);
}
