@import "partials/reset";
@import "partials/breakpoints";
@import "partials/colors";
@import "layouts/index";
@import "components/buttons";
@import "components/organisms/index";
@import "components/molecules/index";
@import "partials/helpers";
@import "partials/typography";
@import "partials/tools";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;

}

footer {
  background-color: #4a0740;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background: #3f3f3f;
  padding: 1rem;
  max-width: 15rem;
  margin-left: auto;
}

#home-slider{
  overflow: hidden;
  height: 20rem;
}
iframe{
  width: 100%;
}

.layout {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(125, 105, 144, 0.61);
  box-sizing: border-box;
}

.gallery-box__content{
  display: flex;
  flex-wrap: wrap;
  a {
    width: 50%;
    outline: solid;
    background: red;
    img{
      width: 100%;
      height: 100%;
    }
  }
}