@import "reset";
@import "partials/breakpoints";
@import "color";
@import "layouts/index";
@import "components/buttons";
@import "o-sidebar";
@import "components/molecules/index";
@import "partials/helpers";
@import "typography";
@import "tools";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;

}




.o-header{
    width: 100%;
    min-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  .header__baseline{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 1rem;
  }
  .header__logo{
    width: max-content;
    padding: 1rem;
  }
}





.o-banner-section{
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2rem;
  display: flex;
  box-sizing: border-box;
  align-items: center;

  h1 {
    color: black;
  }
}

footer {
  background-color: #4a0740;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background: #3f3f3f;
  padding: 1rem;
  max-width: 15rem;
  margin-left: auto;
}

.l-main-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

iframe{
  width: 100%;
}

.layout {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(125, 105, 144, 0.61);
  box-sizing: border-box;
}

.l-main{

}

// modifiers



// modifiers End
