
@import "reset";
@import "color";
@import "components/buttons";
@import "o-sidebar";
@import "components/molecules/m-header";
@import "components/molecules/m-langage-switcher";
@import "components/molecules/m-album-card";
@import "partials/helpers";
@import "partials/breakpoints";
@import "typography";
@import "tools";


.o-header{
    width: 100%;
    min-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  .header__baseline{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 1rem;
  }
  .header__logo{
    width: max-content;
    padding: 1rem;
  }
}

//Navigation //

nav {

  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #d756c4;
  width: 100%;
  ul {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      height: 100%;
      text-align: center;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a{
        color: #cdcfc9;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        height: 100%;
        width: 100%;
        white-space: nowrap;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $tertiary;
          color: white;
          cursor: pointer;
        }
        &.current {
          background-color: $primary;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}

//Navigation end //


body {
  display: flex;
  align-items: center;
  justify-content: center;

}


.o-banner-section{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 2rem;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  h1 {
    color: white;
    font-size: 1.5em;

  }
}

footer {
  background-color: #4a0740;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background: #3f3f3f;
  padding: 1rem;
  max-width: 15rem;
  margin-left: auto;
}

.l-main-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

iframe{
  width: 100%;
}

.layout {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(125, 105, 144, 0.61);
  box-sizing: border-box;
}

.l-main{
  display: flex;
  background: black;
  width: inherit;


  .main__sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    max-width: 20rem;
    align-items: center;
  }



  .main__content{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: white;
    width: inherit;
    .content__article {
      padding: 2rem;
      font-size: 1rem;
      line-height: 1.7;
      background: blue;
    }
  }
}

// modifiers



// modifiers End
