
@import "reset";
@import "components/buttons";
@import "tools";
@import "typography";

.o-header{
    background-color: #fffcfc;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 4rem;


  .header__baseline{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .header__logo{

  }
}

//Navigation //

nav {

  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #d756c4;
  width: 100%;
  ul {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      height: 100%;
      text-align: center;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a{
        color: #cdcfc9;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        height: 100%;
        width: 100%;
        white-space: nowrap;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #3D0635;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

//Navigation end //


body {
  display: flex;
  align-items: center;
  justify-content: center;

}


.o-banner-section{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 2rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  height: 10rem;
  h1 {
    color: white;
    font-size: 1.5em;

  }
}

footer {
  background-color: #4a0740;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 9rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
    align-items: center;
  outline: solid saddlebrown;
  width: 30%;
  margin: 0;
}

.l-main-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.current {
  background-color: #7D6990;
  font-weight: bold;
  color: white;
}

section.main aside.sidebar h1, section.main aside.sidebar h3 {
  background-color: #4a0740;
  color: #fff;
  font: bolder 14px/29px "Lucida Grande", Lucida, Verdana, sans-serif;
  height: 33px;
  text-align: center;
  width: 100%;
}



section.main article.principal h2 {
  border-bottom: 1px solid #ededed;
  color: #8a5890;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 1.37em;
  margin-bottom: 6px;
  padding-bottom: 10px;
}

section.main article.principal p.intro_press {
  color: #ca97ca;
  display: block;
  font-family: Georgia, serif;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 12px;
}


section.main article.principal p.intro_press::after {
  content: " »";
}

section.main article.principal p.intro_press::before {
  content: "» ";
}

section.main article.principal p {
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 13px;
}

section.main article.principal h3 {
  color: #ca97ca;
  display: block;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 12px;
}

article.principal p.article {
  color: #858585;
  display: block;
  font-family: Georgia, serif;
  font-size: 15px;
  font-style: italic;
}

article.principal p.press_name {
  color: #626060;
  display: block;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}


table#main_table.discography tbody tr.album td.album_img {
  padding-left: 27px;
  padding-top: 40px;
}

table#main_table.discography tbody tr.album td.album_info {
  padding-left: 16px;
  vertical-align: middle;
}

table#main_table.discography tbody tr.album td.album_info span.title {
  color: #8a5890;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 1.57em;
  text-transform: uppercase;
}

table#main_table.discography tbody tr.album td.album_info span.distribution {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

html body div#wrapper section.main article.principal blockquote p {

  color: #ae9898;
  font-size: 17px;
  font-style: italic;
  font-weight: 900;
}

html body div#wrapper header a#logo {

  display: block;
  height: 100px;
  position: absolute;
  width: 407px;
}

table tbody tr th.titre_tableau_jour {
  background-color: #cdc6d5;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 50%;
  padding: 3px;
  text-indent: 5px;
  width: 15%;
}

table tbody tr th.titre_tableau_date {
  background-color: #cdc6d5;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding: 3px;
  text-indent: 5px;
  width: 17%;
}

table tbody tr th.titre_tableau_lieu {
  background-color: #cdc6d5;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding: 3px;
  text-indent: 5px;
  width: 0px;
}

table tbody tr th.titre_tableau_heure {
  background-color: #cdc6d5;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding: 3px;
  text-indent: 5px;
  width: 15%;
}

article.principal table tbody tr td {
  height: 33px;
  line-height: 50%;
  padding: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  color: #828282;
}

table#events {
  border: 1px solid #eee6e6;
  text-indent: 11px;
}

table#events tbody tr {
  background-color: #f5f5f5;
}


 h2 {
  background-color: #7D6990;
  color: white;
  font-weight: bold;
  line-height: 27px;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.layout {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(125, 105, 144, 0.61);
  box-sizing: border-box;
}



.l-main{
  display: flex;
  background: black;

  .main__siderbar{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    max-width: 20rem;
    align-items: center;

  }

  .main__content{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 1.3rem;color: white;
    .content__article {
      padding: 2rem;
      font-size: 1rem;
      line-height: 1.7;
    }
  }
}



