


.l-main{
  display: flex;
  width: 100%;
  flex-direction: column;
  .main__sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    max-width: 20rem;
    align-items: center;
  }

  .main__content{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: white;
    .content__article {
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.7;
    }
  }


  @include for-phone-only {

    flex-direction: column;
  }

  @include for-tablet-landscape-up {

    background:yellow;
  }

  @include for-desktop-up {

    background:orange;
  }

  @include for-big-desktop-up {

    background:purple;
  }

}

footer{

  box-sizing: border-box;
  p{
    text-align: center;
    color: white;
    font-size: 0.9rem !important;

  }
}