:root {
    // tyrian-purple
    $tyrian-purple-100: #8c0d79;
    $tyrian-purple-200: #750b65;
    $tyrian-purple-300: #5d0951;
    $tyrian-purple-400: #4a0740;
    $tyrian-purple-500: #46073c;
    $tyrian-purple-600: #2f0428;
    $tyrian-purple-700: #170214;
    // rosy-brown
    $rosy-brown-100: #c7b8b8;
    $rosy-brown-200: #bca9a9;
    $rosy-brown-300: #a58d8d;
    $rosy-brown-400: #9a7e7e;
    $rosy-brown-500: #8f7070;
    $rosy-brown-600: #816565;
    $rosy-brown-700: #725a5a;
    // pump-and-power
    $pump-and-power-100: #c5bbce;
    $pump-and-power-200: #baafc5;
    $pump-and-power-300: #857199;
    $pump-and-power-400: #705d82;
    $pump-and-power-500: #655575;
    $pump-and-power-600: #50435d;
    $pump-and-power-700: #3b3144;
    // The greys
    $white: #ffffff;
    $grey-95: #f2f2f2;
    $grey-90: #e6e6e6;
    $grey-85: #d9d9d9;
    $grey-80: #cccccc;
    $grey-75: #bfbfbf;
    $grey-70: #b3b3b3;
    $grey-65: #a6a6a6;
    $grey-60: #999999;
    $grey-55: #8c8c8c;
    $grey-50: #808080;
    $grey-45: #737373;
    $grey-40: #666666;
    $grey-35: #595959;
    $grey-30: #4d4d4d;
    $grey-25: #404040;
    $grey-20: #333333;
    $grey-15: #262626;
    $grey-10: #1a1a1a;
    $grey-5: #0d0d0d;
    $black: #000000;
    /* colors */
    --primary: $tyrian-purple-400;
    --secondary: $pump-and-power-400;
    --on-primary: $white;
    --on-secondary: $tyrian-purple-700;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --color-0: $white;
    --color-1: $tyrian-purple-400;
    --color-2: #cdcfc9;
    --color-3: #7D6990;
    --color-4: #e7e7e7;
    --color-5: #9A6196;
    --color-6: #9A8E61;
    --color-7: #000000;
    --tablet: 60em;
    --deskyop: 60em;
    --header-background: var(--color-0);
    --unit: 1em;
    --bs-font-sans-serif: Arial;
}