.o-sidebar{
  padding: 1rem;
  display: flex;
  flex-direction: column;
.sidebar__infos{
color: white;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    a:first-of-type{
      margin-bottom: 1rem;
    }
  }
}

.sidebar__img{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
}