$colors: (
        primary:(
                100: hsl(271, 16%, 80%),
                200: hsl(271, 16%, 70%),
                300: hsl(271, 16%, 60%),
                400: hsl(271, 16%, 43%),
                500: hsl(271, 16%, 20%),
        ),
        secondary:(
                100: hsl(45, 16%, 80%),
                200: hsl(45, 16%, 70%),
                300: hsl(45, 16%, 60%),
                400: hsl(45, 16%, 43%),
                500: hsl(45, 16%, 20%),
        ),
        tertiary:(
                100: hsl(242, 16%, 80%),
                200: hsl(242, 16%, 70%),
                300: hsl(242, 16%, 60%),
                400: hsl(242, 16%, 43%),
                500: hsl(242, 16%, 20%),
        )
);

$primary-100: hsl(271, 16%, 80%);
$primary-400: hsl(271, 16%, 43%);
$secondary-400: hsl(45, 16%, 43%);
$tertiary-400: hsl(242, 16%, 43%);
$primary-100: hsl(271, 16%, 80%);
$primary-100: hsl(271, 16%, 80%);
$primary-100: hsl(271, 16%, 80%);