*{
  font-family: "Gill Sans Extrabold", sans-serif !important;
}

.h1 {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.h2 {

  font-size: 2.2rem;
  font-weight: 700;

}

.h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.h4{
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

#headline{
  color: white;
}

body, input, button {
  font-family: "Libre Franklin";
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #232323;
  font-size: 17px;
}