.button {
  background-color: #9a6196;
  color: #ffeaea;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.8rem;
  width: max-content;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;

}