.button {
  background-color: #9a6196;
  color: #ffeaea;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: max-content;

}