.m-langage-switcher{
  display: none;
  background: #c4590f;
  height: max-content;

  .lang-fr{
    margin-left: auto;
    background: red;
    padding: 1rem;
  }

  .lang-en{
    padding: 1rem;
  }
}