.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3rem;
  width: 3rem;

  span{
    display: block;
    height: 0.5rem;
    background: red;
  }

  &.is--active{
    background: blue;

    span{
      &:nth-child(1){
        transform: rotate(45deg) translate(10px, 10px);
      }

      &:nth-child(3){
        visibility: hidden;
      }
      &:nth-child(2){
        transform: rotate(-45deg) ;
      }
    }
  }


}

#myLinks {

 display: none;
   a {
     color: #cdcfc9;
     text-transform: uppercase;
     text-decoration: none;
     font-size: 1rem;
     height: 100%;
     width: 100%;
     white-space: nowrap;
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;

     &:hover {
       background-color: $tertiary-400;
       color: white;
       cursor: pointer;
     }

     &.current {
       background-color: $tertiary-400;
       font-weight: bold;
       color: white;
     }
  }
}


